/**********************************************
GENERAL
**********************************************/

.win-score {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 520px;
  color: #555;
  font-size: 12px;
  font-family: 'Lato';

}
