/**********************************************
GENERAL
**********************************************/

.win-score {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 520px;

}
